<div class="container">
  <div class="row">
    <div class="col">
        <a routerLink="/beers">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>Beer</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/beer.jpg" alt="Photo of a Shiba Inu">
            </mat-card>
        </a>
    </div>
    <div class="col">
        <a routerLink="/whiskeys">
             <mat-card>
                <mat-card-header>
                   <mat-card-title>Whiskey</mat-card-title>
                 </mat-card-header>
                <img mat-card-image src="assets/images/whiskey.jpeg" alt="Photo of a Shiba Inu">
            </mat-card>
        </a>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="row">
      <div class="col">
       <a routerLink="/ciders">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Cider</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/cider.png" alt="Photo of a Shiba Inu">
            </mat-card>
        </a>
      </div>
      <div class="col">
        <a routerLink="/rhum-cognac">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Rhum & Cognac</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/rhum.jpeg" alt="Photo of a Shiba Inu">
            </mat-card>
        </a>
      </div>
    </div>
    <div class="w-100"></div>
  <div class="row">
      <div class="col">
        <a routerLink="/snacks">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Snacks</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/snacks.jpg" alt="Photo of a Shiba Inu">
            </mat-card>
        </a>
      </div>
    </div>
</div>
